// Specific CSS for your home-page

.title-incroporated-platforms {
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-size: 32px !important;
  color: #313131 !important;
  text-align: center;
  // opacity: 0.95;
  // font-weight: semi-bold 600 !important;
}

.container-courses-logos {
  border-top: 2px solid rgb(230, 230, 230);
}
