
<!-- the list of friends from the search in show.html.erb -->

<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div id="users">
        <% @users.each do |user| %>
          <h4><%= user.name %></h4>
          <p><%= user.email %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>


