.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner-showpage {
  background-size: cover;
  background-position: center;
  padding: 144px 0;
}

.banner-h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 44px !important;
  font-weight: bold;
}

.banner-p {
  font-size: 18px;
  color: #f4f4f4 !important;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-searchbar {
  position: relative;
  top: 96px;
  width: 40vw;
  height: 2.4em;
}

.banner-searchbar-round {
  border-radius: 40px 0px 0px 40px;
}

.banner-searchbar-roundbutton {
  border-radius: 0px 40px 40px 0px;
  background-color: #FF9A76;
  width: 120px;
  border: none;
  transition: 0.2s;
}

.banner-searchbar-roundbutton:hover {
  background-color: #fa855b;
}

.banner-enroll-roundbutton {
  border-radius: 40px;
  background-color: #FF9A76;
  width: 220px;
  border: none;
  transition: 0.2s;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 20px;
}

.banner-enroll-roundbutton:hover {
  background-color: #fa855b;
}

.banner-text-container {
  position:relative;
  top: 96px;
}
