
// BEGINNING - users/index buttons

// .button-follow {
//   padding: 8px 24px;
//   border-radius: 8px;
//   background-color: #FF9A76;
//   color: white;
//   text-align: center;
// }

// .button-unfollow {
//     padding: 8px 24px;
//     border-radius: 8px;
//     background-color: white;
//     color: #FF9A76;
//     text-align: center;
//     border: solid #FF9A76 1px;
// }

// END - users/index page


// BEGINNING - refresh button for Duolingo Leaderboard on user show page
.btn-ghost {
  color: #FF9A76;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.move-refresh {
    margin-left: 52px;
}

.fa-sync {
    font-size: 24px;
    color: #a7a7a7;
}

.fa-sync:hover {
  color: white;
}

.btn-outline-onebite {
  transition: 0.2s; 
  font-family: helvetia;
  border-radius: 8px;
  border: solid 1px #555555 !important;
  margin-bottom: 8px !important;
}



// END - refresh button for Duolingo Leaderboard on user show page
