// BEGINNING - cards for courses index page

.card-courses-index {
  overflow: hidden;
  height: 220px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-family: helvetica !important;
}

.card-courses-index img {
  height: 100%;
  width: 160px;
  object-fit: cover;
}

.card-courses-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-courses-index p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-courses-index .card-courses-index-infos {
  padding: 16px;
}

// END - cards for courses index page



// BEGINNING - cards for users/index page

// WARNING - dependency on _button.scss

.card-users-index {
  overflow: hidden;
  height: 120px;
  background: rgba(245,245,245,0.2);
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-bottom: 0.5px solid rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-users-index img {
  height: 100%;
  width: 80px;
  object-fit: cover;
}

.card-users-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-users-index p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-users-index .card-users-index-infos {
  padding: 16px;
}

// .card-users-index .card-users-index-buttons .button-follow {
//   padding: 8px 24px;
//   border-radius: 8px;
//   background-color: #FF9A76;
//   color: white;
//   text-align: center;
// }

// .card-users-index .card-users-index-buttons .button-unfollow {
//   padding: 8px 24px;
//   border-radius: 8px;
//   background-color: white;
//   color: #FF9A76;
//   text-align: center;
//   border: solid #FF9A76 1px;
// }

// END - cards for users/index page


// BEGINING - cards for user dashboard

.card-user-dashboard {
  overflow: hidden;
  height: 240px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-user-dashboard img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-user-dashboard h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-user-dashboard p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-user-dashboard .card-user-dashboard-infos {
  padding: 16px;
}

.results-h2 {
  font-size: 32px !important;
  // color: #252525 !important;
  // font-family: helvetica !important;
  font-family: "Nunito", "Helvetica", "sans-serif";
  color: #313131 !important;
  // font-weight: 700 !important;
}

.index-card-title-font {
  font-size: 21px !important;
  color: #252525 !important;
  font-family: helvetica !important;
}

.index-card-description-font {
  font-size: 15px !important;
  color: #252525 !important;
  font-family: helvetica !important;
}

.index-card-goto-show-font {
  font-size: 15px !important;
  font-family: helvetica !important;
  text-decoration: none !important;
  margin-top: 16px !important;
}

.btn-onebite-orange {
  color: white;
  background-color: #FF9A76 !important;
  transition: 0.2s;
  color: white;
  border-radius: 8px;
}

.btn-onebite-orange:hover {
  background-color: #fa855b !important;
    color: white;
}

.results-info-left {
  flex-grow: 1;
}
// END - cards for user dashboard

.index-card-description-user-font-link-new {
  font-size: 16px !important;
  color: #252525 !important;
  font-family: helvetica !important;
  font-weight: bold;
  transition: 0.2s;
}

.index-card-description-user-font-link-new:hover {
  text-decoration: none !important;
  color: #FF9A76 !important;
}
