
.footer {
  font-family: helvetica;
  margin-top: 80px;
  background: #F4F4F4;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 48px;
  color: rgba(0,0,0,0.3);
  border-top: 1px solid rgba(230,230,230,0.7);
  text-align: center;
}

.footer-links {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.2s;
}

.footer p {
  margin-bottom: 0px;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  color: #FF9A76;
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}
